header { 
    background-color: rgb(243, 168, 6);
    color: white;
}
header img{
   border-radius: 45pc;
}
header h1{
    font-size: 50px;
}
header section {
 text-align: center;
}
header ul {
list-style: none;
display: flex;
justify-content: center;
gap: 37px;
padding: 5%;

}
h2{
background-color: rgb(243, 168, 6);
text-transform: uppercase;
}
caption{
    color: white;
    background-color: red;

}
#leon{
    background-color: rgb(50, 163, 255);
}
div img{
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows:100%;
    grid-template-areas: 
    " ";
}
#enviar{
    background-color: red;
    color: white;
}


