body {
  margin: 0;
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 1.8em;
}
a .fab{
color: #A7B8BF;
}
.social-links{
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.social-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links a .fab{
border: 2px solid red;
border-radius: 50%;
width: 55%;
height: 55%;
line-height: 55%;
text-align: center;
transition: background-color 0.3s;
}
.social-links a:hover{
  color: #c5615a;
}
/* test */
a {
  color: rgb(184, 33, 6);
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

article {
  padding: 0 1em;
  margin: 0 auto;

}

header {
  padding: 2pc;
  text-align: center;
  background-image: url(/assets/img/BGP4.jpg);
  background-size: cover;
  background-position: fixed;
  color: white;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
  border-radius: 50%;
  max-width: 150px;
}

h1 {
  text-transform: uppercase;
  margin: 1em 0;
}

h3 {
  text-transform: uppercase;
  padding-left: 15px;
  color: darkred;
}


section:not(:last-child) {
  border-bottom: 1px solid #d39f9f;
}

nav {
  background-color: transparent;
  
  padding: 3px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1px 5px 1px;
  font-size: 18px;
  text-transform: uppercase;
}

.conocimientos {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "conocimientosAvanzados conocimientosBasicos "
    "languages languages";
}

.conocimientosAvanzados {
  grid-area: conocimientosAvanzados;
}

.conocimientosBasicos {
  grid-area: conocimientosBasicos;
}

.languages {
  grid-area: languages;
}

ul {
  list-style-type: none;
}

#skills ul li:before {
  color: #c5615a;
  /*content: "✔";*/
  padding-right: 0.5em;
  content: "►";
}

#Experiencia ul li:before {
  color: #c5615a;
  padding-right: 0.5em;
  content: "✔";
}

footer {
  padding: 1em 1.5em;
  background: #A7B8BF;
  color: white;
  text-align: right;
}
