    h1{
        color: aquamarine;
    }
    h2 {
        color: plum;
    }
    #S  {
        color: blue;
    }
    h3 {
        font-style: italic;
    }
    #N {
        font-weight: bolder  ;
    }
    #M{
        color: red;
    }
    #P{
        color: gray;
        text-transform: uppercase;
    }
    #C {
        color: rgb(79, 206, 79);
    }